{
  // Environments - which environments your script is designed to run in.
  // Each environment brings with it a certain set of predefined global variables.
  "env": {
    "browser": false,
    "node": true,
    "es2022": true
  },
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["prettier"],
  "globals": {},
  "rules": { 
    // "no-console": "error" 
  }
}
